.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}
.hidden{
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
padding-top: 18px;
padding-bottom: 18px;
  background-color: #d6eac0;
position: relative;
    z-index: 100;
}
.nav {
  display: none;
}
.logo {
    padding-left: 20px;
}
.navUp{
    display: none;
}
.navUpBasket{
  display: none;
}
.navCont{
    display: flex;
    gap:16px ;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    cursor: pointer;
}

.basket {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: #000;
        border: 1px solid #000;
            border-radius: 100px;
            fill: #fff;
            cursor: pointer;
            margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
.auth{
  display: flex;
  gap: 16px ;
}
.burger{
    display: none;
}
  .nav{

    display: flex;
    gap: 32px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
  }
  .navUp{
    display: block;
background-color: rgba(0, 0, 0, 0.05);
border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 14px;
    padding: 4px 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .nav{
    font-size: 16px;
  }
  .navUp{
  font-size: 16px;
  }
}
