.basketContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.basketCard {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .basketCard {
    display: flex;
    flex-direction: row;
  }
}

.basketItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .basketItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 24px;
    min-width: 488px;
  }
}

.basketItemImage {
  width: 82px;
  height: 101px;
  object-fit: cover;
  border-radius: 6px;
}

.basketItemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .basketItemInfo {
    margin-right: 32px;
  }
}

.basketItemName {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.basketItemFeedback {
  font-size: 12px;
  color: #555;
  display: flex;
  align-items: center;
}

.basketItemPrice {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.basketInputBtn {
  display: flex;
  justify-content: space-between;
}

.basketItemQuantity {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 64px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 768px) {
  .basketItemQuantity {
    margin-right: 8px;
  }
}

.basketItemRemove {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketItemRemove:hover,
.basketItemRemove:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}

.basketItemRemove:active {
  background-color: rgba(0, 0, 0, 0.5);
  fill: #fff;
}

.basketItemRemove:disabled {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.4;
}

.basketLoading,
.basketEmpty {
  padding: 16px;
  text-align: center;
  color: #555;
}
