.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 24px 0 20px 0;
  gap: 16px;
  border-radius: 16px;
  height: 154px;
  width: 100%;
  background-color: #d6eac0;
}

.message_text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  width: 303px;
  height: auto;
  color: #000;
}
.message_button {
  font-weight: 500;
  font-size: 16px;
  background-color: #c5e1a5;
  color: #000000;
  transition: background-color 0.2s ease;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  width: 303px;
  height: 36px;
}

.message_button:hover,
.message_button:focus {
  background-color: #9db484;
}

/* TABLET */
@media (min-width: 768px) {
  .message_container {
    height: 127px;
  }

  .message_text {
    width: 100%;
    padding: 24px;
  }

  .message_button {
    font-size: 16px;
    font-weight: 600;
    width: 115px;
    height: 36px;
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
  .message_container {
   width: 640px;
  }

  .message_text {
    max-width: 600px;
    font-size: 18px;
  }

  .message_button {
    font-weight: 500;
  }
}
